<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>User's rating</title>
    <style>
        body {
            margin: 0;
        }
        div.widget_rating {
            background-color: blue;
            color: #fff;
            width: 100px;
            height: 100px;
            float:left;
            text-align: center;
            font-size: 20px;
            vertical-align: middle;
            line-height: 90px;
        }
    </style>
</head>
<body>
<div class="widget_rating">
    {{ rating }}%
</div>
</body>
</html>


