document.writeln('<div style="position: fixed; right: 0; bottom: 0; z-index: 100000; width: 100px; height: 100px;"><iframe src="{{ url|raw }}" name="MagicIframe" width="100%" height="100%" scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe></div>');