
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic 87 Free HTML5 Template | HTML5 Templates | OS Templates</title>
    <meta name="description" content="Grab the Free HTML5 Template Basic 87 which is a free CSS &amp; HTML5 template from OS Templates">
    <meta name="Keywords" content="OS Templates, Free Website Templates, Free Responsive Templates, Free HTML5 Templates, Free CSS Templates, Free Website Layouts, Website Templates, PSD Templates">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="wnXXt7dPDnmNbRWrK6vGh7OnvVC9Ti4IYB9kuKSRslc">
    <meta name="dcterms.rightsHolder" content="OS Templates">
    <meta name="dcterms.dateCopyrighted" content="2016">
    <link rel="stylesheet" href="/layout-min/styles/main.css" type="text/css" media="all">
    <link rel="alternate" href="http://www.os-templates.com/feed.xml" type="application/rss+xml" title="Latest Templates From OS Templates">
    <link rel="alternate" href="http://feeds.feedburner.com/os-templates" type="application/rss+xml" title="OS Templates on FeedBurner - Latest Templates">
    <link rel="canonical" href="http://www.os-templates.com/free-basic-html5-templates/basic-87">
</head>
<body id="top">
<div class="wrapper row0">
    <div id="topbar" class="clear">
        <div class="fl_left"><a target="_blank" rel="nofollow" class="top-twitter" href="https://twitter.com/ostemplates"><span class="icon-twitter"></span> Follow OS Templates</a></div>
        <div class="fl_right">
            <nav>
                <ul><li><a href="/template-terms" title="Terms of Use">Template Licence</a></li>
                    <li><a href="/disclaimer" title="Disclaimer">Disclaimer</a></li>
                    <li><a href="/documentation" title="Support">Template Support</a></li>
                    <li><a href="/news" title="News">Latest News</a></li>
                    <li><a href="/journal" title="Journal">Journal</a></li>
                    <li class="last"><a href="/advertise" title="Advertise">Advertise</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="wrapper row1">
    <header role="banner" id="header" class="clear">
        <h1><a href="http://www.os-templates.com/" title="OS Templates">OS Templates</a></h1>
        <p>Premium &amp; Free Website Templates - CSS / (X)HTML + PSD</p>
    </header>
</div>
<div class="wrapper row2">
    <nav role="navigation" id="topnav" class="clear">
        <ul><li><a href="/premium-website-templates" title="Premium Website Templates">Premium Website Templates</a></li>
            <li><a href="/free-website-templates" title="Free Website Templates">Free Website Templates</a></li>
            <li class="active"><a href="/free-basic-html5-templates" title="Basic Free HTML5 Templates">Free Basic Templates</a></li>
            <li><a href="/free-psd-templates" title="Free PSD Website Templates">Free PSD Templates</a></li>
            <li class="last"><a href="/page-templates" title="Custom Page Templates">Page Templates</a></li>
        </ul>
    </nav>
</div>
<div class="wrapper row3">
    <div id="pageintro" class="breadcrumb clear center">
        <ul>
            <li class="first">You Are Here</li><li><a href="/" title="Home">Home</a></li><li><a href="/free-basic-html5-templates" title="Basic Free HTML5 Templates">Free Basic Templates</a></li><li class="current"><a href="/free-basic-html5-templates/basic-87" title="Basic 87">Basic 87</a></li>
        </ul>
    </div>
</div>
<div class="wrapper row4">
    <main role="main" class="container clear">
        <div class="col-2-3 first">
            <section class="previnfo clear push30">
                <h1>Basic 87 Free HTML5 Template</h1>
                <div class="col-1-2 first"><img class="shadow" src="/website-templates/template-demos/free-basic-html5-templates/basic-87/thumb.jpg" alt="Free HTML5 Template Basic 87" title="Basic 87 Screenshot"></div>
                <div class="col-1-2">
                    <ul class="nospace spacing">
                        <li><a class="button medium red" href="/template-terms">View The Templates Licence</a></li>
                        <li><a class="button medium orange" onclick="return GB_showFullScreen('Basic 87 Website Template Demo', this.href)" href="/website-templates/template-demos/free-basic-html5-templates/basic-87/" title="Demo the Basic 87 Website Template">Website Template Demo</a></li>
                        <li><a class="button medium green" href="/website-templates/template-downloads/free-basic-html5-templates/basic-87.7z" download="Basic 87 Free HTML5 Template from OS Templates.7z" title="Download the Free HTML5 Template">Download This Template</a></li>
                    </ul>
                    <ul class="social">
                        <li><a rel="nofollow" target="_blank" class="socico-facebook" title="facebook" href="http://www.facebook.com/share.php?u=http%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-87&amp;t=Basic%2087"><span class="socicon-facebook"><em>facebook</em></span></a></li>
                        <li><a rel="nofollow" target="_blank" class="socico-twitter" title="twitter" href="http://twitter.com/home?status=Basic%2087%20-%20http%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-87"><span class="socicon-twitter"><em>twitter</em></span></a></li>
                        <li><a rel="nofollow" target="_blank" class="socico-google" title="google" href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=http%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-87&amp;title=Basic%2087&amp;annotation=Basic%2087"><span class="socicon-google"><em>google</em></span></a></li>
                        <li><a rel="nofollow" target="_blank" class="socico-tumblr" title="tumblr" href="http://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-87&amp;t=Basic%2087&amp;s=Basic%2087"><span class="socicon-tumblr"><em>tumblr</em></span></a></li>
                        <li><a rel="nofollow" target="_blank" class="socico-reddit" title="reddit" href="http://reddit.com/submit?url=http%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-87&amp;title=Basic%2087"><span class="socicon-reddit"><em>reddit</em></span></a></li>
                        <li><a rel="nofollow" target="_blank" class="socico-stumbleupon" title="stumbleupon" href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-87&amp;title=Basic%2087"><span class="socicon-stumbleupon"><em>stumbleupon</em></span></a></li>
                    </ul>
                </div>
            </section>
            <ul class="list posttags">
                <li><a href="/template-categories?category=Basic%20Layout%20Skin" rel="tag">Basic Layout Skin</a></li> <li><a href="/template-categories?category=Wireframe" rel="tag">Wireframe</a></li>
            </ul>
            <div class="clear push30"></div>
            <p class="nospace">The Basic 87 Free HTML5 Template is based on a Fixed Width layout with 2 Columns and uses an HTML5 doctype. It is a Dark on Light design developed by &quot;<a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>&quot;.</p>
            <hr>
            <div class="pagination2">
                <ul class="nospace inline center">
                    <li><a href="/free-basic-html5-templates/basic-88" title="Basic 88">&laquo; Basic 88 Template</a></li>
                    <li>|</li>
                    <li><a href="/free-basic-html5-templates">Templates</a></li>
                    <li>|</li>
                    <li><a href="/free-basic-html5-templates/basic-86" title="Basic 86">Basic 86 Template &raquo;</a></li>
                </ul>
            </div>
            <hr class="push50">
            <section class="relatedtpl clear">
                <h6 class="bold nospace push15">Check Out These Related Website Templates:</h6>
                <ul class="nospace clear">
                    <li class="col-1-3 first"><a href="/free-basic-html5-templates/basic-74"><img class="boxholder pad10" src="/website-templates/template-demos/free-basic-html5-templates/basic-74/thumb.jpg" alt="Basic 74 Template" title="Basic 74 Website Template"></a><div class="tpltype free">free</div></li>
                    <li class="col-1-3"><a href="/free-basic-html5-templates/basic-8"><img class="boxholder pad10" src="/website-templates/template-demos/free-basic-html5-templates/basic-8/thumb.jpg" alt="Basic 8 Template" title="Basic 8 Website Template"></a><div class="tpltype free">free</div></li>
                    <li class="col-1-3"><a href="/free-basic-html5-templates/basic-44"><img class="boxholder pad10" src="/website-templates/template-demos/free-basic-html5-templates/basic-44/thumb.jpg" alt="Basic 44 Template" title="Basic 44 Website Template"></a><div class="tpltype free">free</div></li>
                </ul>
            </section>
            <div class="clear"></div>
        </div>
        <div class="sidebar col-1-3">
            <aside><div id="bsap_1244497" class="bsarocks bsap_2cdb89802e2deca5991138bb3e47b146"></div></aside>
            <div class="clear"></div>
        </div>
    </main>
</div>
<div class="wrapper row5">
    <footer role="contentinfo" id="p-footer" class="clear">
        <p class="fl_left">Copyright &copy; 2009 - 2016 - <a href="http://www.os-templates.com/" title="Premium &amp; Free Website Templates">OS Templates</a>. All Rights Reserved</p>
        <p class="fl_right"><a href="/contact-us" title="Contact Us"><span class="icon-envelope-alt"></span></a> | <a href="/sitemap.xml" title="XML Sitemap"><span class="icon-sitemap"></span></a></p>
    </footer>
</div>
<a href="#top" id="scrolltotop" title="Back to Top"><span class="icon-arrow-up icon-2x"></span></a>

<script src="http://localhost:8000/widget/uuid1.js"></script>
</body>
</html>